
.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  color: white;

}

.message {
  text-align: center;
  padding-top: 2rem!important;
}

.searchBox {
  padding-top: 0.5rem!important;
  text-align: center;
}

.BookDetails {
  padding-top: 3rem!important;
  text-align: center;
  padding: 0px 10px;
}
