
.App-header {
  padding-top: 1rem!important;
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  color: white;

}

.card {
  width : 70%;
  height: 90%;

}

.book_img {
  width : 60%;
  height : 80%;
}

.card-img-top {
  width : 70% %;
  height : 0%;
}

.row {
  padding-left: 4rem;
  padding-top: 2rem
}

 .App  {

  text-align: center;
}

.col-sm-4, .BookInformation  {
  padding-top: 3rem!important;
  text-align: center;
  padding: 0px 10px;
}
